<nav class="navbar navbar-expand-lg bg-body-tertiary mb-5">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <ng-container *ngIf="auth.userLoggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/landing">Landing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/panel">Panel</a>
          </li>
        </ng-container>
      </ul>
      <span>
        <div *ngIf="!auth.userLoggedIn; else logOutTemplate" class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="activateRoute">{{navValue}}</a>
        </div>

        <ng-template #logOutTemplate>
          <div class="nav-item">
            <a class="nav-link" (click)="logout()">Log out</a>
          </div>
        </ng-template>
      </span>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>