<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<h1 class="mb-5">Sign Up</h1>
			<form [formGroup]="signupForm" (ngSubmit)="signup()">
        <div class="form-group">
          <label>Email address</label>
          <input
            [ngClass]="{'is-invalid': (signupForm.get('email')?.invalid && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched))}"
            type="email" class="form-control" formControlName="email">
          <div
            *ngIf="signupForm.get('email')?.invalid && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched)"
            class="invalid-feedback d-block">
            <div *ngIf="signupForm.get('email')?.errors?.['required']">Email is
              required</div>
            <div *ngIf="signupForm.get('email')?.errors?.['email']">Invalid email
              format</div>
          </div>
        </div>
        <div class="form-group mt-3">
          <label>Password {{signupForm.get('password')?.errors?.['minLength']}}</label>
          <input
            [ngClass]="{'is-invalid': signupForm.get('password')?.invalid && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched)}"
            type="password" class="form-control" formControlName="password">
          <div
            *ngIf="signupForm.get('password')?.invalid && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched)"
            class="invalid-feedback d-block">
            <div *ngIf="signupForm.get('password')?.errors?.['required']">Password
              is required</div>
              <div *ngIf="signupForm.get('password')?.errors?.['minLength']">Password
                is invalid</div>
          </div>
        </div>
				<button type="submit" class="btn btn-primary mt-3" [disabled]="signupForm.invalid">Submit</button>
			</form>
		</div>

		<div *ngIf="firebaseErrorMessage" class="alert alert-danger mt-3" role="alert">
			{{firebaseErrorMessage}}
		</div>
	</div>
</div>